* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  display: block;
  line-height: 1;
  list-style: none;
  quotes: none;
  content: "";
  content: none;
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  padding: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav li {
  margin-right: 10px;
}

#buscar {
  display: flex;
  justify-content: flex-end;
}

#buscar select {
}
